.container {
  background-color: #f4f4f4;
  height: 100%; }
  .container .header {
    position: relative;
    background-image: linear-gradient(-180deg, #58606a 0%, #2f3a46 77%, #333e4a 100%);
    height: 56px;
    line-height: 56px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0 20px;
    z-index: 1030; }
    .container .header .logo {
      font-size: 24px;
      font-weight: bold; }
    .container .header .menu-action {
      position: absolute;
      right: 0;
      top: 0;
      padding-right: 5px;
      height: 56px; }
      .container .header .menu-action li {
        color: #c3cedd;
        float: left;
        padding: 0 18px; }
      .container .header .menu-action a {
        display: inline-block;
        height: 56px;
        line-height: 56px;
        color: #fff;
        padding: 0 12px; }
        .container .header .menu-action a:hover {
          background-color: rgba(0, 0, 0, 0.1); }
  .container .main-wrapper {
    position: relative;
    height: calc(100vh - 56px); }
  .container .btn-menu {
    background-image: linear-gradient(-180deg, #69737f 0%, #3e4751 100%);
    box-shadow: 0 1px 2px 0 rgba(32, 37, 42, 0.5), inset 0 1px 0 0 #848a92;
    border: 1px solid #303841;
    color: #c3cedd;
    position: relative;
    top: -2px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    padding: 3px 12px;
    cursor: pointer;
    outline: none; }
    .container .btn-menu:hover {
      background-image: linear-gradient(-180deg, #4d555e 0%, #404850 100%);
      border: 1px solid #303841;
      color: #c3cedd; }
    .container .btn-menu:active {
      background-image: linear-gradient(-180deg, #4d555e 0%, #404850 100%);
      border: 1px solid #303841;
      color: #c3cedd; }
    .container .btn-menu:focus {
      color: #c3cedd; }
    .container .btn-menu .icon-logout {
      font-size: 10px; }
  .container button.btn-menu {
    outline: none; }
  .container .btn-menu.btn-sm {
    line-height: 20px; }
  .container .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 100%;
    overflow: auto;
    background: #edf0f5;
    border-right: 1px solid #e0e1e4; }
    .container .sidebar .side-title {
      display: inline-block;
      padding: 9px 5%;
      width: 90%;
      background-image: linear-gradient(-180deg, #d6dbe1 0%, #c7cdd6 48%, #ced3db 97%); }
    .container .sidebar .add-template {
      background-color: #fff;
      padding: 9px 5%;
      width: 90%; }
      .container .sidebar .add-template input[type="text"] {
        height: 22px;
        line-height: 22px;
        padding: 0 5px;
        border: 1px solid #e0e1e4; }
      .container .sidebar .add-template button {
        cursor: pointer;
        margin-left: 10px;
        border: 1px solid #e0e1e4;
        background-color: #fff;
        height: 24px;
        width: 24px; }
    .container .sidebar li {
      cursor: pointer;
      border: 1px solid #e0e1e4;
      background-color: #fff;
      text-decoration: none;
      width: 60%;
      margin: 0 10% 15px;
      padding: 10px 10%;
      display: inline-block;
      text-align: center; }
      .container .sidebar li:first-child {
        margin-top: 15px; }
      .container .sidebar li .del-icon {
        font-size: 14px;
        width: 25px;
        margin: 10px auto 0;
        display: block;
        text-align: center; }
  .container .main {
    background: #fff;
    margin: 0 0 0 200px;
    border-radius: 0 0 3px 3px; }
    .container .main .current-template {
      padding: 6px 12px;
      line-height: 20px;
      border-bottom: 1px solid #e0e1e4; }
    .container .main .content {
      height: calc(100vh - 190px); }
      .container .main .content .layout {
        width: 50%;
        display: inline-block;
        vertical-align: top; }
      .container .main .content .editor {
        background-color: #edf0f5;
        width: 50%;
        display: inline-block;
        vertical-align: top;
        height: 100%; }
        .container .main .content .editor textarea {
          resize: none;
          font-size: 14px;
          width: 90%;
          height: 90%;
          padding: 2%;
          margin: 3%;
          border: 1px solid #e0e1e4; }
  .container .components {
    height: 60px;
    padding: 20px;
    border-bottom: 1px solid #e0e1e4; }
    .container .components li {
      float: left;
      margin-right: 20px; }
      .container .components li button {
        cursor: pointer;
        display: block;
        background-color: #fff;
        width: 120px;
        height: 60px;
        border: 1px solid #e0e1e4;
        text-align: center; }
