.container {
  background-color: #f4f4f4;
  height: 100%;

  .header {
    position: relative;
    background-image: linear-gradient(-180deg, #58606a 0%, #2f3a46 77%, #333e4a 100%);
    height: 56px;
    line-height: 56px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0 20px;
    z-index: 1030;

    .logo {
      font-size: 24px;
      font-weight: bold;
    }

    .menu-action {
      position: absolute;
      right: 0;
      top: 0;
      padding-right: 5px;
      height: 56px;

      li {
        color: #c3cedd;
        float: left;
        padding: 0 18px;
      }

      a {
        display: inline-block;
        height: 56px;
        line-height: 56px;
        color: #fff;
        padding: 0 12px;

        &:hover {
          background-color: rgba(0,0,0,0.1);
        }
      }
    }
  }

  .main-wrapper {
    position: relative;
    height: calc(100vh - 56px);
  }

  .btn-menu {
    background-image: linear-gradient(-180deg, #69737f 0%, #3e4751 100%);
    box-shadow: 0 1px 2px 0 rgba(32,37,42,0.50), inset 0 1px 0 0 #848a92;
    border: 1px solid #303841;
    color: #c3cedd;
    position: relative;
    top: -2px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.50);
    padding: 3px 12px;
    cursor: pointer;
    outline: none;

    &:hover {
      background-image: linear-gradient(-180deg, #4d555e 0%, #404850 100%);
      border: 1px solid #303841;
      color: #c3cedd;
    }

    &:active {
      background-image: linear-gradient(-180deg, #4d555e 0%, #404850 100%);
      border: 1px solid #303841;
      color: #c3cedd;
    }

    &:focus {
      color: #c3cedd;
    }

    .icon-logout {
      font-size: 10px;
    }
  }

  button.btn-menu {
    outline: none;
  }

  .btn-menu.btn-sm {
    line-height: 20px;
  }

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 100%;
    overflow: auto;
    background: #edf0f5;
    border-right: 1px solid #e0e1e4;

    .side-title {
      display: inline-block;
      padding: 9px 5%;
      width: 90%;
      background-image: linear-gradient(-180deg, #d6dbe1 0%, #c7cdd6 48%, #ced3db 97%);
    }

    .add-template {
      background-color: #fff;
      padding: 9px 5%;
      width: 90%;

      input[type="text"] {
        height: 22px;
        line-height: 22px;
        padding: 0 5px;
        border: 1px solid #e0e1e4;
      }

      .fa-plus-circle {
        cursor: pointer;
        margin-left: 10px;
        font-size: 22px;
        vertical-align: sub;
      }
    }

    li {
      cursor: pointer;
      border: 1px solid #e0e1e4;
      background-color: #fff;
      text-decoration: none;
      width: 60%;
      margin: 0 10% 15px;
      padding: 10px 10%;
      display: inline-block;
      text-align: center;

      &:first-child {
        margin-top: 15px;
      }

      .del-icon {
        font-size: 14px;
        width: 25px;
        margin: 10px auto 0;
        display: block;
        text-align: center;
      }
    }
  }

  .main {
    background: #fff;
    margin: 0 0 0 200px;
    border-radius: 0 0 3px 3px;

    .current-template {
      padding: 6px 12px;
      line-height: 20px;
      border-bottom: 1px solid #e0e1e4;
    }

    .content {
      height: calc(100vh - 190px);

      .layout {
        height: 100%;
        overflow: scroll;
        width: 45%;
        display: inline-block;
        vertical-align: top;
      }

      .editor {
        background-color: #edf0f5;
        width: 55%;
        display: inline-block;
        vertical-align: top;
        height: 100%;

        textarea {
          resize: none;
          font-size: 14px;
          width: 90%;
          height: 90%;
          padding: 2%;
          margin: 3%;
          border: 1px solid #e0e1e4;
        }
      }
    }
  }

  .components {
    height: 60px;
    padding: 20px;
    border-bottom: 1px solid #e0e1e4;

    li {
      float: left;
      margin-right: 20px;

      button {
        cursor: pointer;
        display: block;
        background-color: #fff;
        width: 120px;
        height: 60px;
        border: 1px solid #e0e1e4;
        text-align: center;
      }
    }
  }

  .layout {
    li {
      border: 1px dashed #e0e1e4;
      margin: 20px auto 0;
      width: 80%;
      height: 100px;
      line-height: 100px;
      text-align: center;
      display: block;
      cursor: move;

      &:last-child {
        margin-bottom: 20px;
      }
    }
  }
}